#field td {
  text-align: center;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  padding: 1px 1px 1px 1px;
  font-size: 33px;
}

#field {
  margin-left: 0px;
}

.center {
  text-align: center;
}

.tb {
  background-color: black;
  width: 320px;
  margin: 100px auto;
}
html {
  background-color: #f9fbe7;
}
